In [112]:
import pandas as pd

In [113]:
pop_csv = 'mn_county_pop_v2.csv'
#pop_csv = 'file1.csv'

In [114]:
pop_csv = pd.read_csv(pop_csv, encoding="utf-8")

pop_csv.head()

,Geography Type,Geography Name,Year,Population,Households,Persons Per Household (PPH)
0,State,Minnesota,2018,5629416.0,2221628.0,2.47
1,County,Aitkin,2018,15896.0,7359.0,2.12
2,County,Anoka,2018,357851.0,130596.0,2.71
3,County,Becker,2018,34420.0,14165.0,2.40
4,County,Beltrami,2018,46834.0,18039.0,2.48

In [115]:
#extract column info needed
array = ['Anoka', 'Carver', 'Hennepin', 'Dakota', 'Ramsey',
        'Scott', 'Washington']
pop_df = pop_csv.loc[pop_csv['Geography Name'].isin(array)]

array1 = [2010,2011,2012,2013,2014,2015]
pop_df1 = pop_df.loc[pop_df['Year'].isin(array1)]
pop_df1 = pop_df1.sort_values(by= 'Year',ascending='False')

print(len(pop_df1))

42

In [116]:
#create Population Density column
pop_df1['Population Density'] = ''
pop_df1.head()

,Geography Type,Geography Name,Year,Population,Households,Persons Per Household (PPH),Population Density
890,County,Washington,2010,238136.0,87859.0,2.67,
810,County,Anoka,2010,330844.0,121227.0,2.70,
818,County,Carver,2010,91042.0,32891.0,2.74,
878,County,Scott,2010,129928.0,45108.0,2.85,
835,County,Hennepin,2010,1152425.0,475913.0,2.37,

In [117]:
#divide population by square mileage for population density
#county square mileage
an = 7.17
ca = 4.51
he = 607
da = 587
ra = 170
sc = 368
wa = 423

for index, row in pop_df1.iterrows():
    if row['Geography Name'] == 'Anoka':
        anoka = (row['Population']/an)
        pop_df1.loc[index, 'Population Density'] = anoka
        
    if row['Geography Name'] == 'Carver':
        carver = row['Population']/ca
        pop_df1.loc[index, 'Population Density'] =carver
        
    if row['Geography Name'] == 'Hennepin':
        hennepin = row['Population']/he
        pop_df1.loc[index, 'Population Density'] =hennepin
        
    if row['Geography Name'] == 'Dakota':
        dakota = row['Population']/da
        pop_df1.loc[index, 'Population Density'] =dakota
        
    if row['Geography Name'] == 'Ramsey':
        ramsey = row['Population']/ra
        pop_df1.loc[index, 'Population Density'] =ramsey
        
    if row['Geography Name'] == 'Scott':
        scott = row['Population']/sc
        pop_df1.loc[index, 'Population Density'] =scott
        
    if row['Geography Name'] == 'Washington':
        washington = row['Population']/wa
        pop_df1.loc[index, 'Population Density'] =washington

In [118]:
pop_df1['Population Density'] = pop_df1['Population Density'].astype(int)

pop_df1.head()

,Geography Type,Geography Name,Year,Population,Households,Persons Per Household (PPH),Population Density
890,County,Washington,2010,238136.0,87859.0,2.67,562
810,County,Anoka,2010,330844.0,121227.0,2.70,46142
818,County,Carver,2010,91042.0,32891.0,2.74,20186
878,County,Scott,2010,129928.0,45108.0,2.85,353
835,County,Hennepin,2010,1152425.0,475913.0,2.37,1898

In [119]:
pop_df1 = pop_df1.drop(['Geography Type', 'Population', 'Households', 'Persons Per Household (PPH)','Year'], axis=1)

pop_df1 = round(pop_df1.groupby('Geography Name').mean(),2)

pop_df1 = pop_df1.reset_index()

pop_df1

  Geography Name  Population Density
0          Anoka            47200.00
1         Carver            20995.50
2         Dakota              692.17
3       Hennepin             1955.33
4         Ramsey             3063.50
5          Scott              367.00
6     Washington              578.67